.player1-status{
    justify-content: center;
    align-items: center;
    height:100%;
}

#player1-header {
    text-align: center;
    margin:1px;
}

p{
    color:rgb(4, 51, 152);
    font-size: large;
}

#player1-status{
height:100%;
}

table {
    overflow: hidden;
    overflow-y: auto;
    display: block;
    border: 1px solid black;
    border-collapse:collapse;
}

th,td {
    padding: 10px;
}

th {
    top:0;
    z-index: 2;
    position: sticky;
}
